@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-gray-900);
  --card: var(--color-white);
  --card-foreground: var(--color-gray-900);
  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-600);
  --accent: var(--color-indigo-100);
  --accent-foreground: var(--color-indigo-700);
  --primary: var(--color-indigo-700);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-700);
  --success: var(--color-green-600);
  --success-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --border: var(--color-gray-300);
  --input: var(--color-gray-300);
  --ring: var(--color-indigo-700);
}

.dark {
  --color-background: var(--color-gray-900);
  --color-foreground: var(--color-white);
  --color-card: var(--color-gray-800);
  --color-card-foreground: var(--color-white);
  --color-muted: var(--color-gray-800);
  --color-muted-foreground: var(--color-gray-300);
  --color-accent: var(--color-indigo-700);
  --color-accent-foreground: var(--color-white);
  --color-primary: var(--color-indigo-600);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-gray-800);
  --color-secondary-foreground: var(--color-gray-200);
  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-white);
  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-white);
  --color-border: var(--color-gray-700);
  --color-input: var(--color-gray-700);
  --color-ring: var(--color-indigo-600);
}
